version: '3.8'
services:
  api:
    container_name: mast-api
    build:
      context: ../../
      dockerfile: ./dev/docker/api.Dockerfile
    image: mast-api:latest
    restart: always
    volumes:
      - ../../data:/code/data
    environment:
      - DATABASE_HOST=pg_container
      - DATABASE_PORT=5432
      - VIRTUAL_HOST=mastapp.site
      #- VIRTUAL_HOST=130.246.215.157
      - VIRTUAL_PORT=5000
      - LETSENCRYPT_HOST=mastapp.site
      #- LETSENCRYPT_HOST=130.246.215.157
    networks:
      - dbnetwork

  nginx-proxy:
    restart: always
    image: nginxproxy/nginx-proxy:1.3.1
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
      - "certs:/etc/nginx/certs"
      - "vhost:/etc/nginx/vhost.d"
      - "html:/usr/share/nginx/html"
    networks:
      - dbnetwork

  nginx-proxy-acme:
    restart: always
    image: nginxproxy/acme-companion:2.2.9
    volumes_from:
      - nginx-proxy
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "acme:/etc/acme.sh"
      - "certs:/etc/nginx/certs"
    networks:
      - dbnetwork
