KEYCLOAK_CLIENT_SECRET=keycloak_client_secrete
KEYCLOAK_USER=keycloak_username
KEYCLOAK_PASSWORD=keycloak_password
POSTGRES_USER=postgre_username
POSTGRES_PASSWORD=posgress_password
PGADMIN_USER=pgadmin_username
PGADMIN_PASSWORD=pgadmin_password
MINIO_USER=minio_username
MINIO_PASSWORD=minio_password